* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "montserrat", sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
}
.logo {
  width: 150px;
  grid-area: img;
}
img {
  max-width: 100%;
}
header {
  background-color: #d62828;
  padding: 0, 5rem;
  grid-area: head;
}

.nav_list {
  list-style-type: none;
  display: grid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-area: nav;
}
.nav_link {
  color: #eae2b7;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
.nav_link:hover {
  opacity: 0.65;
}
.intro_main {
  background-color: #eae2b7;
}
.intro_section {
  padding: 3rem 0 0 0;
  background-color: #eae2b7;
}
.selection {
  text-transform: capitalize;
  color: #003049;
  font-size: 2.5rem;
  font-weight: 400;
}
.titule {
  font-weight: 700;
}
.text_2 {
  text-transform: capitalize;
  color: #f77f00;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1rem;
  display: block;
}
.card {
  margin: 0rem;
  max-width: 100%;
  padding: 2rem;
  box-shadow: 0px 10px 30px -10px rgba (0, 0, 0, 45);
  background: #003049;
  border-radius: 3px;
}
.card__image {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.form__button {
  display: inline-block;
  border-radius: 5px;
  padding: 3px 8px;
  border: 2px solid #003049;
  background-color: #f77f00;
  border-style: solid;
  font: 400;
}
.form__button--reset {
  background-color: #d62828;
  border-radius: 5px;
  padding: 3px 8px;
  border: 2px solid #003049;
}
.table_intro {
  background-color: #eae2b7;
  color: #003049;
  border-color: #003049;
}
.download {
  background-color: #eae2b7;
}
.download_title {
  text-align: center;
  text-transform: uppercase;
  color: #003049;
  font-weight: bolder;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  /*degradado*/
  background: linear-gradient(90deg, #003049, #d62828, #003049) 0 0 / 400% 100%;
  animation: move-bg 6s infinite linear;
  color: transparent;
  -webkit-background-clip: text;
}
@keyframes move-bg {
  to {
    background-position: 400% 0;
  }
}
.download_logobox {
  display: block;
  width: 55px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 0, 5rem;
}
.form__intro {
  text-transform: capitalize;
  color: #003049;
  font-size: 1, 5rem;
}
.form__gender {
  text-align: left;
}
.form__type {
  text-align: left;
}

/*acá implementé grid y flexbox*/
/*Footer_style*/
footer {
  background-color: #676767;
  color: white;
  padding: 1rem;
  height: 1fr;
}
.footer_intro {
  text-transform: lowercase;
  color: #eae2b7;
  font-weight: bolder;
  font-size: 1rem;
  text-align: left;
  /*prueba grid*/
  display: grid;
  grid-gap: 0.5rem;
  grid-template-rows: 20px auto 5px;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr 3fr;
  grid-template-areas:
    "img footer_title footer_title footer_icons"
    "img footer_text1 footer_text2 footer_icons"
    "footer_copyright footer_copyright footer_copyright footer_copyright";
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
}

.footer_title {
  text-align: left;
  text-transform: capitalize;
  color: #eae2b7;
  font-weight: bold;
  font-size: 1rem;
  grid-area: footer_title;
}
.footer_text1 {
  grid-area: footer_text1;
  font-weight: normal;
  height: 60px;
}
.footer_text2 {
  grid-area: footer_text2;
  font-weight: normal;
  height: 60px;
}
.footer_icons {
  align-self: flex-start;
  grid-area: footer_icons;
}
.footer_icons_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer_icons_flex > img {
  width: 2rem;
  height: 2rem;
}

.footer_copyright {
  font-weight: normal;
  grid-area: footer_copyright;
  text-align: center;
}
