.grid-container_red {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: $header-color;
  padding: 10px;
  padding-bottom: 2rem;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  .item1_red {
    grid-area: 4 / 1 / span 1 / span 10;
    display: inline;
    h3 {
      text-align: left;
      text-transform: capitalize;
      color: $primary-color;
      font-weight: bold;
      font-size: 1rem;
      width: 6rem;
      font-size: larger;
      width: 100%;
      display: inline;
    }
  }
  .item2_red {
    grid-area: 7 / 1 / span 6 / span 10;
    text-align: justify;

    color: $primary-color;
    font-weight: bold;
    font-size: 1rem;
    font-size: medium;
    display: inline;
  }
  .item3_red {
    grid-area: 13 / 1 / span 2 / span 10;
  }
  .item4_red {
    grid-area: 15 / 1 / span 2 / span 10;
  }
  .item5_red {
    grid-area: 17 / 1 / span 2 / span 10;
  }
  .item6_red {
    grid-area: 19 / 1 / span 8 / span 10;
    textarea {
      height: 7rem;
    }
  }
  .item7_red {
    grid-area: 27 / 4 / span 2 / span 2;
  }
  .item8_red {
    grid-area: 27 / 6 / span 2 / span 2;
  }
  .div > .col-6 {
    padding-right: 3rem;
  }
}

@media (min-width: 768px) {
  .grid-container_red {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 20px auto auto auto;
    grid-gap: 10px;
    background-color: $header-color;
    padding: 10px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    .item1_red {
      grid-area: 1 / 1 / span 6 / span 6;
      text-align: justify;
      .col-6 {
        h3 {
          font-size: larger;
          width: 100%;
          text-align: left;
          text-transform: capitalize;
          color: $primary-color;
          font-weight: bold;
          font-size: 1rem;
        }
      }
    }
    .item2_red {
      grid-area: 7 / 1 / span 6 / span 6;
      div {
        .rojo__2 {
          font-size: medium;
          text-align: left;
          padding-left: 5%;
          color: $primary-color;
          font-weight: bold;
          font-size: 1rem;
        }
      }
    }
    .item3_red {
      grid-area: 1 / 8 / span 2 / span 8;
    }
    .item4_red {
      grid-area: 1 / 16 / span 2 / span 8;
    }
    .item5_red {
      grid-area: 3 / 8 / span 2 / span 16;
    }
    .item6_red {
      grid-area: 5 / 8 / span 8 / span 16;
      textarea {
        height: 7rem;
      }
    }
    .item7_red {
      grid-area: 13 / 14 / span 2 / span 2;
    }
    .item8_red {
      grid-area: 13 / 16 / span 2 / span 2;
    }
  }
}
